h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}
p {
    font-family: "Roboto", sans-serif;
}

body {
    background: rgb(222,159,205);
background: radial-gradient(circle, rgba(222,159,205,1) 0%, rgba(237,180,228,1) 65%, rgba(254,236,255,1) 100%);
 color: rgb(144, 109, 109)
}
#game {
    margin: auto;
    width: 30%;
    height: 50%;
}
#before > p, #after > p {
    margin: 5px;
    font-size: 0.3rem; /* animation starting size */
    text-align: left;
}
#player button, #giveup {
    text-align: center;
}
#player input, #player button, #giveup {
    font-size: 1.2rem;
    margin: 0.5rem;
}

#guess {
    border: none;
    text-align: left;
}
#firstrow {
    margin: auto;
    width: 50%
}

#player {
    margin: auto;
    /*width: 50%;*/
}

#giveup {
    right: 0px;
    text-align: right;
}

#giveuplink {
    color: rgb(133, 0, 0);
    font-style: italic;
}

#error_message {
    color: rgb(133, 0, 0);
    font-style: italic;

}

@media only screen and (max-width: 1200px) {

    h1 {
        font-size: 5rem;
    }

    a, p, button, input {
        font-size: 4rem !important;
    }
    #game {
        width: 100%;
    }
    #guess {
        width: 50%;
      height: 5rem;
    }
  }